[submodule "submodules/simple-knn"]
	path = submodules/simple-knn
	url = https://github.com/camenduru/simple-knn

# [submodule "submodules/scannetpp"]
# 	path = submodules/scannetpp
# 	url = https://github.com/scannetpp/scannetpp.git
