[submodule "submodules/simple-knn"]
	path = submodules/simple-knn
	url = https://gitlab.inria.fr/bkerbl/simple-knn.git

# [submodule "submodules/scannetpp"]
# 	path = submodules/scannetpp
# 	url = https://github.com/scannetpp/scannetpp.git
